*~
INSTALL
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/robotfindskitten.info
doc/texinfo.tex
install-sh
libtool
ltmain.sh
m4/
missing
robotfindskitten-*.tar.gz
src/.deps/
src/Makefile
src/Makefile.in
src/robotfindskitten
src/robotfindskitten.o
stamp-h1
