Source: robotfindskitten
Section: games
Priority: optional
Maintainer: Neale Pickett <neale@debian.org>
Build-Depends: debhelper, libncurses5-dev, texinfo
Standards-Version: 3.5.6.1

Package: robotfindskitten
Architecture: any
Depends: ${shlibs:Depends}
Description: Zen Simulation of robot finding kitten
 In this simulation, you play the part of robot. Your task is to
 complete the simulation by finding kitten, as is your destiny, and
 indeed your wont.  You (robot) are represented by the # character, and
 you move around with the arrow keys touching things.  If the thing you
 touch is kitten, you get a cute little animation (which was cuter in
 the DOS version) and the simulation ends. Otherwise, you get a brief
 description of what it is you touched. 
